body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background-color: #eae2b7;
}

html{
  background-color: #eae2b7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: #003049;
}

#footer{
  background-color: #d62828;
}

#navbox {
  display: flex;
  justify-content: space-between;
}

#aboutMe, #contact{
  width: 40%;
  border: 2px solid #f77f00;
  border-radius: 20px;
  padding: 15px;
}

#project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  height: 200px;

}

.project-link {
  border: 2px solid black;
  width: fit-content;
  margin: 10px;
}

.description{
  display: none;
  background-color: rgba(252, 191, 73, .5);
  width: 40vw;
  padding: 15px;
  border-radius: 10px;
}

.project-link:hover + .description{
  display: inline;
}