body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background-color: #eae2b7;
}

html{
  background-color: #eae2b7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: #003049;
}

#footer{
  background-color: #d62828;
}

#navbox {
  display: flex;
  justify-content: space-between;
}

#aboutMe{
  width: 40%;
  border: 2px solid #f77f00;
  border-radius: 20px;
  padding: 15px;
}

.project{
  display: flex;
  justify-content: center;
}

img{
  height: 200px;

}